@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

/* General styles */

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.footer-fixed {
    margin-top: auto;
}

/* assets/css/styles.css */

h2, h3, h4 {
    font-family: 'Handlee', cursive;
    color: #FFEBD4;
    text-shadow: 1px 1px #000000;
    
}

.nav-link {
    color: #839d4c;
}

.navbar-brand {
    color: #839d4c;
}

.btn-light {
    background-color: #839d4c;
    color: #FFEBD4;
}

.active {
    font-weight: bold;
}

.hero-section {
    background: url('../images/hero.png') no-repeat center center/cover;
    color: #FFEBD4;
    padding: 100px 0;
}

.hero-section h1,
.hero-section p {
    font-family: 'Handlee', cursive;
    text-shadow: 1px 1px #000000;
}

.hero-section .btn,
.contactus .btn {
    color: #3b2f2f;
}

.card-img-top {
    max-height: 200px;
    object-fit: cover;
    margin: 0 auto;
}

.card-title,
.card-subtitle {
    font-family: 'Handlee', cursive;
    color: #839d4c;
}

.carousel .card {
    border: none;
}

/* Footer styles */
.footer {
    background-color: #839d4c;
    color: #ffebd4;
}

.footer a {
    color: #ffebd4;
}

.footer a:hover {
    color: #ffffff;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #ffebd4;
}

.timetable-list {
    padding-left: 0;
    list-style: none;
}
.timetable-list li {
    padding: 0.5rem 0;
    border-bottom: 1px solid #ddd;
}
.timetable-list li:last-child {
    border-bottom: none;
}

