@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

/* assets/css/styles.css */

h2 {
    font-family: 'Handlee', cursive;
}

.nav-link {
    color: #3b2f2f;
}

.active {
    font-weight: bold;
}

.hero-section {
    background: url('../images/hero.png') no-repeat center center/cover;
    color: #FFEBD4;
    padding: 100px 0;
}

.hero-section h1,
.hero-section p {
    font-family: 'Handlee', cursive;
    text-shadow: 1px 1px #000000;
}

.hero-section .btn {
    color: #3b2f2f;
}

.card-img-top {
    max-height: 200px;
    object-fit: cover;
    margin: 0 auto;
}

.card-title {
    font-family: 'Handlee', cursive;
}

.carousel .card {
    border: none;
}

/* Footer styles */
.footer {
    background-color: #6f4e37;
    color: #ffebd4;
}

.footer a {
    color: #ffebd4;
}

.footer a:hover {
    color: #ffffff;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #ffebd4;
}